/* General styling */
html,body {
    height: 100%;
    font-family: 'Roboto Flex', sans-serif;
}

* { margin: 0; }

/* Styling for about section */
.about {
    display: flex;
    align-items: center;

    height: 45vh;

    background-color: rgb(19, 19, 19);

    color: rgb(203, 203, 203);
}

.about img {
    width: 280px;
    padding: 0px 100px;
}

.about-text {
    display: flex;
    flex-direction: column;

    margin-right: 100px;

    font-size: 1.2em;
    line-height: 1.5;
}
#name {
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 0.1rem;
}

/* Styling for social media icons section*/
.socmedia {
    text-align: center;
    height: 7vh;
    background-color: #42e5ca ;
}
  
.socmedia a {
    display: inline-block;
    position: relative;
    color: black;

    margin: 8px;

    font-size: 2.3em;
    
    /* For hover animation */
    top: 0px; 
    left: 0px;
}
  
.socmedia a:hover {
    -webkit-transition-duration: 0.4s; 
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;

    text-shadow: 10px 10px 5px #277b6d;
    top: -1px;
    left: -1px;
}

/* Styling for project section */
.project-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #42e5ca;

    height: 48vh;

    font-size: 1.5em;
    line-height: 1.7;
    font-weight: 500;
}

.projects {
    display: flex;
}

.project {
    position: relative; /* overlay text position */
}

.project img {
    width: 350px;
    height: 300px;
    margin: 10px;

    border-radius: 9%;
    border: 3px solid #34b9a3;

    cursor: pointer;
}
.project:hover img {
    -webkit-filter: brightness(55%);
    -webkit-transition-duration: 0.6s; 
    -moz-transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
    transition-duration: 0.6s;
}

/* Create prog language icons */
#a-wh::before, #a-gol::before, #a-bio::before {
    content: '';
    display: none;

    position: absolute;
    height: 100px;
    width: 100px;

    z-index: 1; /* move on top of image filter */
}
.project:hover #a-wh::before, .project:hover #a-gol::before, .project:hover #a-bio::before {
    display: block;
}

/* Style prog language icons */
#a-wh::before {
    background: url(../img/py.svg) no-repeat;
    transform: scale(1.4) rotate(-40deg);
    margin-left: 46px;
    margin-top: -2px;
}
#a-bio::before {
    background: url(../img/julia.svg) no-repeat;
    transform: rotate(-40deg) scale(0.8);
    margin-left: 12px;
    margin-top: -6px;
}
#a-gol::before {
    background: url(../img/c.svg) no-repeat;
    transform: rotate(-40deg) scale(1.4);
    margin-left: 52px;
    margin-top: 4px;
}

#gol-img {
    border: 3px solid #b4fbef;
}

/* Style text overlays */
.overlay {
    display: none;
    position: absolute; /* paired with .project relative */

    color: white;
    bottom: 130px;
    right: 14px;

    cursor: pointer;

    text-align: center;
    font-size: 1.2em;
    font-weight: 500; 
    letter-spacing: 0.25rem;
    text-transform: uppercase;
}
.project:hover .overlay {
    display: block;
    width: 350px;
}
.project:hover #overlay3 {
    width: 250px;
}

#overlay1 {
    bottom: 100px;
}
#overlay2 {
    bottom: 80px;
}
#overlay3 {
    bottom: 130px;
    right: 65px;
}



/* Styling for mobile */
@media only screen and (max-width: 450px) {
    .about {
        height: 100vh !important;
        flex-direction: column;
    }
    .about img {
        padding: 40px 0px;
    }
    .about-text {
        margin: auto;
        padding: 30px;
    }

    .project-wrapper {
        height: 156vh;
    }
    .project-wrapper p {
        text-align: center;
        font-size: 0.9em;
        line-height: 1.1em;
        margin: 15px 0px;
    }

    .projects {
        margin-top: 10px;
        flex-direction: column;
    }

    .project img {
        margin: 0px;
    }

    #a-wh::before {
        transform: scale(1.0) rotate(-40deg);
        margin-left: 15px;
        margin-top: -18px;
    }
    #a-bio::before {
        transform: rotate(-40deg) scale(0.6);
        margin-left: -8px;
        margin-top: -22px;
    }
    #a-gol::before {
        transform: rotate(-40deg) scale(1.0);
        margin-left: 18px;
        margin-top: -14px;
    }


    .overlay {
        /* bottom: 130px;
        right: 14px; */
        font-size: 1.6em !important;
        line-height: 1.3em !important;
    }
    .project:hover .overlay {
        width: 330px !important;
    }
    #overlay1 {
        bottom: 50px;
    }
    #overlay2 {
        bottom: 55px;
    }
    #overlay3 {
        bottom: 100px;
        right: 13px;
    }
    
} 